*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 5px;
}

body {
  font-family: Roboto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  padding-left: 30px;
  padding-right: 15px;
  margin-bottom: 30px;
  font-size: 30px;
  min-width: 200px;
  height: 60px;
  border-radius: 10px;
  outline-color: black;
  box-shadow: 2px 2px 2px rgb(68, 66, 66);
}

.container {
  margin: 0 auto;
  // max-width: 1280px;
  padding: 20px;
}

.gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
}

.gallery img {
  height: 200px;
  object-fit: cover;
  cursor: zoom-in;
}

.photo-card {
  flex-basis: calc(100% / 4 - 15px);
  margin-left: 15px;
  margin-top: 15px;
  height: 280px;
  outline: 1px #585656 solid;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
}

.stats-item {
  display: flex;
  align-items: center;
  cursor: default;
}

.material-icons {
  margin-right: 5px;
  color: #9b9999;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  min-width: 300px;
  font-weight: 500;
  font-size: 30px;
  color: #000;
  background-color: transparent;
  border: none;
  border-top: 1px #000 solid;
  cursor: pointer;
}

.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
