*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 15px;
}

body {
  font-family: Roboto;
}

img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  padding-left: 40px;
  padding-right: 15px;
  margin-bottom: 35px;
  font-size: 50px;
  min-width: 800px;
  height: 100px;
  border-radius: 10px;
  outline-color: black;
  box-shadow: 2px 2px 2px rgb(68, 66, 66);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  padding: 20px;
}

.photo-card {
  flex-basis: calc(100% / 4 - 15px);
  margin-left: 15px;
  margin-top: 15px;
  height: 500px;
  outline: 1px #585656 solid;
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 35px;
}

.stats-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.material-icons {
  margin-right: 10px;
  font-size: 35px;
}

.btn {
  margin: 20px;
  min-width: 400px;
  padding: 20px 30px;
  font-weight: 500;
  font-size: 50px;
  color: #000;
  background-color: transparent;
  border: none;
  border-top: 2px #000 solid;
  cursor: pointer;
}

// .is-hidden {
//   display: none;
// }

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

// .example .background {
//   height: 240px;
//   // Путь к изображениям из SASS-файла всегда такой, как из папки css
//   background-image: url('../images/demo.jpg');
//   background-size: cover;
//   background-position: center;
// }
